VITE_SUPABASE_URL= "https://vwdriocchpkvolkzbqmn.supabase.co "
VITE_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3ZHJpb2NjaHBrdm9sa3picW1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NDg0MzEsImV4cCI6MjA4OTMyNDQzMX0.k7IcBWg8hlod9cL0ESXNXEM2IUiFibpGGVOviCvHFtc"

